<aside class="pico sidebar">
    
    <div class="sidebar-header">
        <h1 class="sidebar-logo">Todo</h1>
        <button id="menu-toggle" class="hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>

    <div class="w-full flex flex-col justify-center items-center gap-2 mb-4">
        <label>
            <input name="color-mode-toggle" role="switch" type="checkbox" value="1"
                aria-label="Toggle Light or Dark Mode">
        </label>

        <details class="dropdown language-menu">
            <summary role="button" class="primary">
                <img src="/assets/image/id.png" />
                <span>Indonesia</span>
            </summary>
            <ul>
                <li>
                    <a href="?lang=id">
                        <img src="/assets/image/id.png" />
                        <span>Indonesia</span>
                    </a>
                </li>
                <li>
                    <a href="?lang=en">
                        <img src="/assets/image/en.png" />
                        <span>English</span>
                    </a>
                </li>
            </ul>
        </details>
    </div>

    <ul class="sidebar-menu">
        <li><a href="#"><%- include('../icons/home-icon'); -%> <span>
                        <%= t('home') %>
                    </span></a></li>
        <li><a href="#"><%- include('../icons/message-icon'); -%> <span>Message</span></a></li>
        <li><a href="#"><%- include('../icons/info-icon'); -%> <span>Info</span></a></li>
        <li><a href="#"><%- include('../icons/author-icon'); -%> <span>Author</span></a></li>
    </ul>
</aside>