<!DOCTYPE html>
<html translate="no" lang="en">

<head>
  <%- include('../partials/head', {title: "Todo App With Bootstrap" }); %>
</head>

<body>
  <%- include('../partials/sidebar'); %>
  <main>
    <div class="todoes">
      <section class="d-flex justify-content-center align-items-end gap-2 mt-2 mb-4">
        <h2 class="title">
          <%- include('../icons/tasks-icon'); %>
          <span>
            <%= t('list') %>
          </span>
        </h2>
      </section>

      <% if (todoes.length> 0 ) {%>

      <table class="table table-striped border list">
        <tbody>
          <% todoes.forEach((todo, index)=> { %>
          <tr data-done="<%= todo.done %>">
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="<%= todo.id %>" value="<%= todo.done %>" <%= isChecked(todo.done) %> />
              </div>
            </td>
            <td>
              <span class="table-text"> <%= index + 1 %> </span>
            </td>
            <td>
              <span class="text-break"> <%= todo.task %> </span>
            </td>
            <td>
              <div class="d-flex gap-2">
                <a href="/todoes/update/<%= todo.id %>" class="link-primary text-decoration-none">
                  <%- include('../icons/update-icon') -%>
                </a>
                <a href="/todoes/detail/<%= todo.id %>" class="link-primary text-decoration-none">
                  <%- include('../icons/eye-icon') -%>
                </a>
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <% } else { %>

      <div class="empty-data text-secondary bg-light-subtle border">
        <%- include('../icons/empty-icon'); -%>
        <p>
          <%= t('noRecords') %>
        </p>
      </div>

      <% } %>
      <section>
        <a href="/todoes/create" role="button" class="btn btn-primary btn-lg btn-icon w-100">
          <%- include('../icons/plus-icon'); -%>
          <span>
            <%= t('create') %>
          </span>
        </a>
      </section>
    </div>
  </main>
  <%- include('../partials/confirm', {message: 'Update data?' }); %>
  <% if(message) { %>
  <%- include('../partials/toast', {message}); %>
  <% } %>

  <script type="module" src="/src/assets/js/main.ts?t=<%= new Date().getTime() %>"></script>
</body>

</html>