<!DOCTYPE html>
<html translate="no" lang="en">

<head>
  <%- include('./partials/head', {title: "Todo App With Bootstrap" }); %>
</head>

<body>
  <%- include('./partials/sidebar'); %>
  <main>
    <div class="page-container">
      <section class="d-flex justify-content-center align-items-end gap-2 mt-2 mb-4">
        <h2 class="title">
          <%- include('./icons/login-icon'); %>
          <span>
            <%= t('login') %>
          </span>
        </h2>
      </section>
      <form class="needs-validation" method="post" action="/login" autocomplete="off" novalidate>
        <div class="mb-3">
          <%- include('./partials/form-input', {type: "email", field: "email", maxlength: 50, formData}); %>
        </div>
         <div class="mb-3">
          <%- include('./partials/form-input', {type: "password", field: "password", maxlength: 50, formData}); %>
        </div>
        <div class="mb-3">
          <%- include('./partials/form-input', {type: "text", field: "captcha", maxlength: 5, formData}); %>
        </div>
        <div class="form-capthca">
          <img id="captchaImage" class="border rounded p-1" src="/captcha" />
          <button type="button" role="reload-captcha" class="text-secondary text-primary-hover bg-transparent border rounded" onclick="reloadCaptcha()">
            <%- include('./icons/reload-icon'); -%>
          </button>
        </div>
        <div class="d-flex gap-2 my-4">
          <button type="reset" class="btn btn-secondary btn-icon">
            <i class="icon">
              <%- include('./icons/reload-icon'); -%>
            </i>
            <span><%= t('reset') %></span>
          </button>
          <button type="submit" class="btn btn-primary btn-icon">
            <i class="icon">
              <%- include('./icons/login-icon'); -%>
            </i>
            <span><%= t('login') %></span>
          </button>
        </div>
      </form>
    </div>
  </main>

  <% if(typeof message !== 'undefined') { %>
  <%- include('./partials/toast', {message}); %>
  <% } %>

  <script>
    const reloadCaptcha = function() {
      const current = new Date();
      const captchaImage = document.getElementById('captchaImage');

      if (captchaImage) {
        captchaImage.src = captchaImage.src + '?t=' + current.getTime();
      }

      console.log(current.getTime());

    }
  </script>
  <script type="module" src="/src/assets/js/main.ts?t=<%= new Date().getTime() %>"></script>
</body>

</html>